.oben {
    background-color: yellow;
    height: 70px;
    display: flex;
    justify-content: end;
    border-style: solid;
}

.obox {
    background-color: aqua;
    height: 30px;
    width: 30px;
    margin: 20px;
    
}

.mittbox {
    background: aqua;
    height: 300px;
    width: 400px;
   margin-left: 20px;
   margin-top: 20px;
   border-style: solid;
   position: relative;
}

.rechtbox {
    background-color: brown;
    position: absolute;
    height: 160px;
    width: 160px;
    bottom: 0;
    right: 0;
}


.violetbox {
    background-color: violet;
    height: 50px;
    width: 50px;
    bottom: 0;
    right: 0;
    position: absolute;
    border-style: solid;
}