.box {
  height: 100px;
  width: 100px; 
  border-color: black;
  border-style: solid;
  display: grid;
  align-items: center;
  margin-left: 20px;
}

.container{
    background-color: darkkhaki;
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3, 150px);
   height: fit-content;
   width: fit-content;
   justify-content: center;
   align-items: center;
}

.all{
    display: grid;
    justify-content: center;
    margin: 200px;
}

